<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flights list</title>
        <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add_airport/">Add Airport</a></li>
            <li><a href="/airport_list/">Airport List</a></li>
            <li><a href="/add_aircraft/">Add Aircraft</a></li>
            <li><a href="/aircraft_list/">Aircraft List</a></li>
            <li><a href="/add_flight_plan/">Add Flight Plan</a></li>
            <li><a href="/flights_list/">Flights List</a></li>
                {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
                {% endif %}
        </ul>
    </nav>
    <h2>List of Flights</h2>
    <table>
        <thead>
            <tr>
                <th>Flight number</th>
                <th>Aircraft</th>
                <th>Flight type</th>
                <th>Departure Airport</th>
                <th>Departure Time</th>
                <th>Arrival Airport</th>
                <th>Arrival Time</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
            <tr>
                <td>{{ flight.flight_number }}</td>
                <td>{{ flight.aircraft.name }}</td>
                <td>{{ flight.flight_type.name }}</td>
                <td>{{ flight.departure_airport.icao_code }}</td>
                <td>{{ flight.departure_time }}</td>
                <td>{{ flight.arrival_airport.icao_code }}</td>
                <td>{{ flight.arrival_time }}</td>
                <td>{{ flight.user }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>